@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@theme {
  --color-darkPurple: #2e2237;
  --color-mediumPurple: #212529;
  --color-lightPurple: #cd99d9;
  --color-darkBg: #1a131b;
  --font-poppins: "Poppins", sans-serif, system-ui;
}

@utility scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base{
  body {
  background-color: #cd99d9;
  font-family: var(--font-poppins);
}
}

