@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=El+Messiri:wght@400..700&display=swap');

@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';



@theme {
  --color-darkPurple: #2e2237;
  --color-mediumPurple: #212529;
  --color-lightPurple: #cd99d9;
  --color-darkBg: #111827;
  --color-ghostWhite: #f8f8ff;
  /* --font-poppins: "Poppins", sans-serif, system-ui; */

  /* Rebuild colors. The first var is the color from the pdf file */
  /* --color-forestGreen: #0B1D14; */


  /* --color-forestGreen: #2E5940; */

  --color-forestGreen: #1F4A34;


  --color-gold: #A27C10;
}

@utility scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}


body {
  background-color:  #111827;
  font-family: "El Messiri", sans-serif;
}


/* @layer base{
  body {
  background-color:  #111827;
  font-family: "Cairo", sans-serif;;
}
} */


/* Adjust individual day sizes so they scale down on small screens */

